.done{
    pointer-events: none;
    filter: invert(0.30);
	animation: scale-up-center 0.4s cubic-bezier(0.770, 0.000, 0.175, 1.000) both;
}
@keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
        transform: scale(1);
    }
}
.chkd{
    --size: 22px;
    --shadow: calc(var(--size) * .07) calc(var(--size) * .1);
    position: relative;
    display: block;
    width: var(--size);
    height: var(--size);
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #13a067 0%, #50c8c8 46%, #7088ff 100%);
    border-radius: 50%;
    box-shadow: 0 var(--shadow) #ffbeb8;
    cursor: pointer;
    transition: 0.2s ease transform, 0.2s ease background-color,
      0.2s ease box-shadow;
    overflow: hidden;
    z-index: 0;
    color: white;
    top: -2px;
}
.chkd::before{
    content: "";
    position: relative;
    top: 50%;
    right: 0;
    left: 0;
    width: calc(var(--size) * .7);
    height: calc(var(--size) * .7);
    background-color: #0ec58b;
    transform: translateY(-50%);
    border-radius: 50%;
    box-shadow: inset 0 var(--shadow) #ffbeb8;
    transition: 0.2s ease width, 0.2s ease height;
}
.chkd:hover{
    animation: scale-up-center 0.4s cubic-bezier(0.770, 0.000, 0.175, 1.000) both;
    box-shadow: inset 0 var(--shadow) #ff9d96;
}
#Modal{
    z-index: 2;
    border: 1px solid #085f43;
    border-radius: 10px;
    width: 60%;
    height: 60%;
    top: 20%;
    position: absolute;
    background-color: #c0ddd0;
}
#Modal::backdrop{
    background-color: rgba(255, 255, 255, 0.5);
    opacity: 0.9;
    backdrop-filter: blur(2px);
}