.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.done{
    pointer-events: none;
    filter: invert(0.30);
	animation: scale-up-center 0.4s cubic-bezier(0.770, 0.000, 0.175, 1.000) both;
}
@keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
        transform: scale(1);
    }
}
.chkd{
    --size: 22px;
    --shadow: calc(var(--size) * .07) calc(var(--size) * .1);
    position: relative;
    display: block;
    width: var(--size);
    height: var(--size);
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #13a067 0%, #50c8c8 46%, #7088ff 100%);
    border-radius: 5px;
    box-shadow: 0 var(--shadow) #ffbeb8;
    cursor: pointer;
    transition: 0.2s ease transform, 0.2s ease background-color,
      0.2s ease box-shadow;
    overflow: hidden;
    z-index: 0;
    color: white;
    top: -2px;
}
.chkd::before{
    content: "";
    position: relative;
    top: 50%;
    right: 0;
    left: 0;
    width: calc(var(--size) * .7);
    height: calc(var(--size) * .7);
    background-color: #0ec58b;
    transform: translateY(-50%);
    border-radius: 50%;
    box-shadow: inset 0 var(--shadow) #ffbeb8;
    transition: 0.2s ease width, 0.2s ease height;
}
.chkd:hover{
    animation: scale-up-center 0.4s cubic-bezier(0.770, 0.000, 0.175, 1.000) both;
    box-shadow: inset 0 var(--shadow) #ff9d96;
}
#Modal{
    z-index: 3;
    border: 1px solid #085f43;
    border-radius: 10px;
    width: 60%;
    top: 4%;
    position: absolute;
    background-color: #c0ddd0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
h3, p, span{
    font-size: clamp(1.5rem, 0.0774rem + 2vw, 5.625rem);
}
@media (max-width: 768px) {
    #Modal{
        width: 100%;
    }
}
.NewTask{
    animation: 1s cubic-bezier(.25, 1, .30, 1) square-in-hesitate both;
}
@keyframes square-in-hesitate {
  0% {
    clip-path: inset(100% 100% 100% 100%);
  }
  40% {
    clip-path: inset(33% 33% 33% 33%);
  }
  100% {
    clip-path: inset(0 0 0 0);
  }
}
.loadTasks{
    animation: 1s wipe-cinematic-in;
}
@keyframes wipe-cinematic-in {
    0% {
      clip-path: inset(100% 0 100% 0);
    }
    30%, 70% {
      clip-path: inset(10% 0 10% 0);
    }
    100% {
      clip-path: inset(0 0 0 0);
    }
}
@keyframes diamond-in-hesitate {
    0% {
      clip-path: polygon(50% 50%, 50% 50%, 50% 50%, 50% 50%);
    }
    50% {
      clip-path: polygon(45% 50%, 50% 25%, 55% 50%, 50% 75%);
    }
    100% {
      clip-path: polygon(-50% 50%, 50% -50%, 150% 50%, 50% 150%);
    }
  }
  
.arch{
    animation: 1s cubic-bezier(.25, 1, .30, 1) diamond-in-hesitate both;
}